USE [master]
GO
/****** Object:  Database [UKTowns]    Script Date: 01/10/2014 21:40:02 ******/
CREATE DATABASE [UKTowns]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UKTowns', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\UKTowns.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'UKTowns_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\UKTowns_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UKTowns].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UKTowns]
GO
/****** Object:  User [towns]    Script Date: 01/10/2014 21:40:02 ******/
CREATE USER [towns] FOR LOGIN [towns] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [towns]
GO
ALTER ROLE [db_datareader] ADD MEMBER [towns]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [towns]
GO
/****** Object:  Table [dbo].[uktownslist-sample]    Script Date: 01/10/2014 21:40:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[uktownslist-sample](
	[id] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[county] [varchar](50) NULL,
	[country] [varchar](50) NULL,
	[grid_reference] [varchar](50) NULL,
	[easting] [varchar](50) NULL,
	[northing] [varchar](50) NULL,
	[latitude] [varchar](50) NULL,
	[longitude] [varchar](50) NULL,
	[postcode_sector] [varchar](50) NULL,
	[type] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[uktownslist-sample] ([id], [name], [county], [country], [grid_reference], [easting], [northing], [latitude], [longitude], [postcode_sector], [type]) VALUES (N'1', N'Aaron''s Hill', N'Surrey', N'England', N'SU9543', N'495500', N'143500', N'51.18276', N'-0.63503', N'GU7 2', N'Other')
INSERT [dbo].[uktownslist-sample] ([id], [name], [county], [country], [grid_reference], [easting], [northing], [latitude], [longitude], [postcode_sector], [type]) VALUES (N'2', N'Abbas Combe', N'Somerset', N'England', N'ST7022', N'370500', N'122500', N'51.00113', N'-2.42178', N'BA8 0', N'Other')
INSERT [dbo].[uktownslist-sample] ([id], [name], [county], [country], [grid_reference], [easting], [northing], [latitude], [longitude], [postcode_sector], [type]) VALUES (N'3', N'Abberley', N'Worcestershire', N'England', N'SO7467', N'374500', N'267500', N'52.30502', N'-2.37541', N'WR6 6', N'Other')
GO
USE [master]
GO
