<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT umbHomePage ANY>
<!ATTLIST umbHomePage id ID #REQUIRED>
<!ELEMENT umbMaster ANY>
<!ATTLIST umbMaster id ID #REQUIRED>
<!ELEMENT umbNewsItem ANY>
<!ATTLIST umbNewsItem id ID #REQUIRED>
<!ELEMENT umbNewsOverview ANY>
<!ATTLIST umbNewsOverview id ID #REQUIRED>
<!ELEMENT umbTextPage ANY>
<!ATTLIST umbTextPage id ID #REQUIRED>

]>
<root id="-1">
  <umbHomePage id="1068" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-09-26T15:29:25" updateDate="2014-09-26T15:29:26" nodeName="Home" urlName="home" path="-1,1068" isDoc="" nodeType="1056" creatorName="ExamineBootCamp" writerName="ExamineBootCamp" writerID="0" template="1051" nodeTypeAlias="umbHomePage">
    <facebookLink><![CDATA[http://facebook.com/Umbraco]]></facebookLink>
    <twitterLink><![CDATA[http://twitter.com/UmbracoProject]]></twitterLink>
    <rssLink><![CDATA[http://feeds.feedburner.com/umbracoblog]]></rssLink>
    <googleLink><![CDATA[https://google.com/+Umbraco]]></googleLink>
    <hideBanner>0</hideBanner>
    <bannerHeader><![CDATA[This is some text that needs to pop]]></bannerHeader>
    <bannerSubheader><![CDATA[It will lead to a call-to-action, just click the button...]]></bannerSubheader>
    <bannerLinkText><![CDATA[You know you want to click me]]></bannerLinkText>
    <bannerLink>1054</bannerLink>
    <bannerBackgroundImage><![CDATA[/media/SampleImages/1008/banner.jpg]]></bannerBackgroundImage>
    <aboutTitle><![CDATA[What's this about?]]></aboutTitle>
    <aboutText><![CDATA[<p>This is <a href="http://html5up.net/txt/">TXT</a>, a free site template designed by <a href="http://n33.co">n33</a> for <a href="http://html5up.net/">HTML5 UP</a>. It's built on the <a href="http://skeljs.org">skelJS</a> framework, uses well-thought out HTML5 and CSS3, and is fully responsive making it a great starting point for your own projects. And, like everything else we make, it's also free to use for pretty much any personal or commercial work under the <a href="http://html5up.net/license/">Creative Commons Attribution</a> license, so go ahead and use it – just don't forget to credit us!</p>]]></aboutText>
    <siteName><![CDATA[Umbraco Txt]]></siteName>
    <byline><![CDATA[A responsive starter kit for Umbraco]]></byline>
    <copyright><![CDATA[Umbraco]]></copyright>
    <umbTextPage id="1069" parentID="1068" level="2" creatorID="0" sortOrder="0" createDate="2014-09-26T15:29:25" updateDate="2014-09-26T15:29:26" nodeName="Getting Started" urlName="getting-started" path="-1,1068,1069" isDoc="" nodeType="1059" creatorName="ExamineBootCamp" writerName="ExamineBootCamp" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
      <featuredPage>1</featuredPage>
      <image><![CDATA[/media/SampleImages/1063/pic01.jpg]]></image>
      <bodyText><![CDATA[<p>You've installed Umbraco and the "Txt" Starter Kit.</p>
<p>Edit the text on the homepage and create a site structure by adding new texpages to your site. This is all done in the <strong>Content</strong> section.</p>
<p>If you find the editing options provided by the Txt site too limited for you needs, simply add more properties to the page by going to the <strong>Settings</strong> section, expanding the <strong>Document Types</strong> item and adding new properties on the <strong>Generic Properties</strong> tab. You can find more information about <a href="http://umbraco.org/help-and-support/video-tutorials/introduction-to-umbraco/sitebuilder-introduction/document-types" title="About Umbraco Document Types">document types and properties</a> at the <a href="http://umbraco.com" title="The Umbraco Website">Umbraco website</a>.</p>
<p>You'll probably want to personalize your site by changing the current design. This is also done in the <strong>Settings</strong> section, by editing the CSS styles and HTML templates. Umbraco uses master templates, so the main, common markup is placed in the <strong>Starterkit Master</strong> template, while the Homeage and Textpage have separate templates for their unique layouts. You can find more information about <a href="http://umbraco.org/help-and-support/video-tutorials/introduction-to-umbraco/sitebuilder-introduction/templates" title="Umbraco Templates and Stylesheets">templates and css</a> in umbraco at the umbraco website.</p>
<p>Once you're happy with your site's design, you might want to add more functionality, such as maps, image galleries or forms. This is done by <a href="http://umbraco.org/help-and-support/video-tutorials/getting-started" title="Umbraco Modules">installing Umbraco modules</a>.</p>]]></bodyText>
    </umbTextPage>
    <umbTextPage id="1070" parentID="1068" level="2" creatorID="0" sortOrder="1" createDate="2014-09-26T15:29:25" updateDate="2014-09-26T15:29:26" nodeName="Go Further" urlName="go-further" path="-1,1068,1070" isDoc="" nodeType="1059" creatorName="ExamineBootCamp" writerName="ExamineBootCamp" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
      <featuredPage>1</featuredPage>
      <image><![CDATA[/media/SampleImages/1060/pic02.jpg]]></image>
      <bodyText><![CDATA[<p>The Txt Starter Kit only scratches the surface of what's possible with Umbraco. Below the Txt Starter Kit and its modules lies a great architecture that lets you implement whatever you need.</p>
<p>With Umbraco you've finally got a solid, open and reliable platform for websites as basic as the Txt site, and Umbraco can be rapidly expanded to support multi-language websites, collaboration platforms and intra/extranets, to name just a few.</p>
<p>Advanced functionality is created with Umbraco macros, built with Umbraco's award-winning .NET integration, including full support for any .NET User or Custom control and ASP.NET MVC. Create and integrate your own .NET macros in mere minutes with point and click simplicity. Simply copy your controls to the Umbraco website, go to the <strong>Developer</strong> section and create a new macro, selecting your control from the list.</p>
<p>You can also use <a href="http://umbraco.org/help-and-support/video-tutorials/getting-started/working-with-webmatrix" title="Working with Razor">Microsoft's Razor</a> syntax to quickly add dynamic functionality to your site.</p>
<p>We've also gathered the best community macros into a repository that's also accessed from the <strong>Developer</strong> section, in the <strong>Packages</strong> area. You can find more information <a href="http://umbraco.org/help-and-support/video-tutorials/introduction-to-umbraco/sitebuilder-introduction/what-are-macros" title="About creating Umbraco macros">about creating macros</a>, on the Umbraco website.</p>
<p>The sky is the limit with Umbraco, and you have the benefit a friendly community, training, and guaranteed support. Find out how to <a href="http://umbraco.org/help-and-support" title="Get Umbraco Support">get help</a>.</p>]]></bodyText>
    </umbTextPage>
    <umbTextPage id="1071" parentID="1068" level="2" creatorID="0" sortOrder="2" createDate="2014-09-26T15:29:25" updateDate="2014-09-26T15:29:26" nodeName="Installing Modules" urlName="installing-modules" path="-1,1068,1071" isDoc="" nodeType="1059" creatorName="ExamineBootCamp" writerName="ExamineBootCamp" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
      <featuredPage>1</featuredPage>
      <image><![CDATA[/media/SampleImages/1061/pic04.jpg]]></image>
      <bodyText><![CDATA[<p>Umbraco modules encapsulate specific bits of advanced functionality that are easily added to your website.</p>
<p>Once installed, Umbraco modules are open source and easy to customize if you want to modify the behavior for your specific needs.</p>
<p>Because Umbraco modules are provided under the MIT license you are free to use and modify them any way you want, with no strings attached.</p>
<p>To add Umbraco modules to your website, go to the <strong>Settings</strong> section, expand the <strong>Templates</strong> item, select the <strong>Starterkit Master</strong> template, then click the <strong>Customize Skin</strong> button on the toolbar.</p>
<p>Umbraco modules are available for various kinds of navigation, a sitemap, social media feeds, and a contact form. The list of available Umbraco modules is growing rapidly and is automatically updated from a central source, always fresh and current.</p>
<p><a href="http://umbraco.org/get-started" title="Get Started with Umbraco">Get more information</a> about the umbraco way.</p>]]></bodyText>
    </umbTextPage>
    <umbTextPage id="1072" parentID="1068" level="2" creatorID="0" sortOrder="3" createDate="2014-09-26T15:29:25" updateDate="2014-09-26T15:29:26" nodeName="About" urlName="about" path="-1,1068,1072" isDoc="" nodeType="1059" creatorName="ExamineBootCamp" writerName="ExamineBootCamp" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
      <featuredPage>1</featuredPage>
      <image><![CDATA[/media/SampleImages/1001/pic03.jpg]]></image>
      <bodyText><![CDATA[<p>The Txt Starter Kit gives you a small website that introduces you to a set of well-defined conventions for building an Umbraco website.</p>
<p>Now that you know what the Txt Starter Kit is, it is time to get started using Umbraco.</p>]]></bodyText>
    </umbTextPage>
    <umbNewsOverview id="1073" parentID="1068" level="2" creatorID="0" sortOrder="4" createDate="2014-09-26T15:29:25" updateDate="2014-09-26T15:29:26" nodeName="News" urlName="news" path="-1,1068,1073" isDoc="" nodeType="1058" creatorName="ExamineBootCamp" writerName="ExamineBootCamp" writerID="0" template="1053" nodeTypeAlias="umbNewsOverview">
      <umbNewsItem id="1074" parentID="1073" level="3" creatorID="0" sortOrder="0" createDate="2014-09-26T15:29:25" updateDate="2014-09-26T15:29:26" nodeName="The 10 remarkable features of object" urlName="the-10-remarkable-features-of-object" path="-1,1068,1073,1074" isDoc="" nodeType="1057" creatorName="ExamineBootCamp" writerName="ExamineBootCamp" writerID="0" template="1052" nodeTypeAlias="umbNewsItem">
        <bodyText><![CDATA[<p>Ita prorsus, inquam; Hanc ergo intuens debet institutum illud quasi signum absolvere. Ergo adhuc, quantum equidem intellego, causa non videtur fuisse mutandi nominis. Quia dolori non voluptas contraria est, sed doloris privatio. Nos autem non solum beatae vitae istam esse oblectationem videmus, sed etiam levamentum miseriarum. Quodsi ipsam honestatem undique pertectam atque absolutam. Nos cum te, M. Quod vestri non item.</p>
<p>Cum id quoque, ut cupiebat, audivisset, evelli iussit eam, qua erat transfixus, hastam. Quarum ambarum rerum cum medicinam pollicetur, luxuriae licentiam pollicetur. Quid iudicant sensus? Quo tandem modo?</p>]]></bodyText>
      </umbNewsItem>
      <umbNewsItem id="1075" parentID="1073" level="3" creatorID="0" sortOrder="1" createDate="2014-09-26T15:29:25" updateDate="2014-09-26T15:29:26" nodeName="This is a wonderful news item" urlName="this-is-a-wonderful-news-item" path="-1,1068,1073,1075" isDoc="" nodeType="1057" creatorName="ExamineBootCamp" writerName="ExamineBootCamp" writerID="0" template="1052" nodeTypeAlias="umbNewsItem">
        <bodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commoda autem et incommoda in eo genere sunt, quae praeposita et reiecta diximus; Bestiarum vero nullum iudicium puto. Est enim effectrix multarum et magnarum voluptatum. Duo Reges: constructio interrete. Claudii libidini, qui tum erat summo ne imperio, dederetur. Quarum ambarum rerum cum medicinam pollicetur, luxuriae licentiam pollicetur. Sed virtutem ipsam inchoavit, nihil amplius.</p>
<p>Ita redarguitur ipse a sese, convincunturque scripta eius probitate ipsius ac moribus. Istam voluptatem, inquit, Epicurus ignorat? Sed venio ad inconstantiae crimen, ne saepius dicas me aberrare; Sic, et quidem diligentius saepiusque ista loquemur inter nos agemusque communiter. Primum in nostrane potestate est, quid meminerimus? Consequens enim est et post oritur, ut dixi. Hoc mihi cum tuo fratre convenit. Immo videri fortasse. Itaque in rebus minime obscuris non multus est apud eos disserendi labor. Aliud igitur esse censet gaudere, aliud non dolere.</p>]]></bodyText>
      </umbNewsItem>
      <umbNewsItem id="1076" parentID="1073" level="3" creatorID="0" sortOrder="2" createDate="2014-09-26T15:29:25" updateDate="2014-09-26T15:29:26" nodeName="You really need to read this!" urlName="you-really-need-to-read-this" path="-1,1068,1073,1076" isDoc="" nodeType="1057" creatorName="ExamineBootCamp" writerName="ExamineBootCamp" writerID="0" template="1052" nodeTypeAlias="umbNewsItem">
        <bodyText><![CDATA[<p><span>Ut aliquid scire se gaudeant? Hanc ergo intuens debet institutum illud quasi signum absolvere. Vestri haec verecundius, illi fortasse constantius. Itaque sensibus rationem adiunxit et ratione effecta sensus non reliquit. Sed ea mala virtuti magnitudine obruebantur. Quasi ego id curem, quid ille aiat aut neget. Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Apparet statim, quae sint officia, quae actiones.</span></p>
<p><span><span>Virtutibus igitur rectissime mihi videris et ad consuetudinem nostrae orationis vitia posuisse contraria. Nonne videmus quanta perturbatio rerum omnium consequatur, quanta confusio? Sed eum qui audiebant, quoad poterant, defendebant sententiam suam. Ut necesse sit omnium rerum, quae natura vigeant, similem esse finem, non eundem.</span></span></p>]]></bodyText>
      </umbNewsItem>
      <umbNewsItem id="1077" parentID="1073" level="3" creatorID="0" sortOrder="3" createDate="2014-09-26T15:29:25" updateDate="2014-09-26T15:29:26" nodeName="Txt Starter Kit For Umbraco Released" urlName="txt-starter-kit-for-umbraco-released" path="-1,1068,1073,1077" isDoc="" nodeType="1057" creatorName="ExamineBootCamp" writerName="ExamineBootCamp" writerID="0" template="1052" nodeTypeAlias="umbNewsItem">
        <publishDate>2021-09-20T00:00:00</publishDate>
        <image><![CDATA[/media/SampleImages/1077/pic05.jpg]]></image>
        <subheader><![CDATA[In all it's MVC Views goodness]]></subheader>
        <bodyText><![CDATA[<p><span>Sed ad haec, nisi molestum est, habeo quae velim. Neque enim disputari sine reprehensione nec cum iracundia aut pertinacia recte disputari potest. Nec vero alia sunt quaerenda contra Carneadeam illam sententiam. Deinde disputat, quod cuiusque generis animantium statui deceat extremum. Facit igitur Lucius noster prudenter, qui audire de summo bono potissimum velit; Quis non odit sordidos, vanos, leves, futtiles?</span></p>
<p><span><span>Negat enim summo bono afferre incrementum diem. Haec mihi videtur delicatior, ut ita dicam, molliorque ratio, quam virtutis vis gravitasque postulat. Haec quo modo conveniant, non sane intellego. Quis enim confidit semper sibi illud stabile et firmum permansurum, quod fragile et caducum sit? Multoque hoc melius nos veriusque quam Stoici. Igitur neque stultorum quisquam beatus neque sapientium non beatus. De hominibus dici non necesse est. Non enim iam stirpis bonum quaeret, sed animalis. Nobis Heracleotes ille Dionysius flagitiose descivisse videtur a Stoicis propter oculorum dolorem. At, illa, ut vobis placet, partem quandam tuetur, reliquam deserit.</span></span></p>]]></bodyText>
      </umbNewsItem>
    </umbNewsOverview>
    <umbTextPage id="1088" parentID="1068" level="2" creatorID="0" sortOrder="5" createDate="2014-09-29T12:08:45" updateDate="2014-09-29T12:12:55" nodeName="Search" urlName="search" path="-1,1068,1088" isDoc="" nodeType="1059" creatorName="ExamineBootCamp" writerName="ExamineBootCamp" writerID="0" template="1089" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <featuredPage>0</featuredPage>
    </umbTextPage>
  </umbHomePage>
  <umbHomePage id="1078" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2014-09-26T15:33:12" updateDate="2014-09-29T11:40:32" nodeName="Home-fr" urlName="home-fr" path="-1,1078" isDoc="" nodeType="1056" creatorName="ExamineBootCamp" writerName="ExamineBootCamp" writerID="0" template="1051" nodeTypeAlias="umbHomePage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <facebookLink><![CDATA[http://facebook.com/Umbraco]]></facebookLink>
    <twitterLink><![CDATA[http://twitter.com/UmbracoProject]]></twitterLink>
    <rssLink><![CDATA[http://feeds.feedburner.com/umbracoblog]]></rssLink>
    <googleLink><![CDATA[https://google.com/+Umbraco]]></googleLink>
    <hideBanner>0</hideBanner>
    <bannerHeader><![CDATA[This is some text that needs to pop]]></bannerHeader>
    <bannerSubheader><![CDATA[It will lead to a call-to-action, just click the button...]]></bannerSubheader>
    <bannerLinkText><![CDATA[You know you want to click me]]></bannerLinkText>
    <bannerBackgroundImage><![CDATA[/media/SampleImages/1008/banner.jpg]]></bannerBackgroundImage>
    <aboutTitle><![CDATA[What's this about?]]></aboutTitle>
    <aboutText><![CDATA[<p>This is <a href="http://html5up.net/txt/">TXT</a>, a free site template designed by <a href="http://n33.co">n33</a> for <a href="http://html5up.net/">HTML5 UP</a>. It's built on the <a href="http://skeljs.org">skelJS</a> framework, uses well-thought out HTML5 and CSS3, and is fully responsive making it a great starting point for your own projects. And, like everything else we make, it's also free to use for pretty much any personal or commercial work under the <a href="http://html5up.net/license/">Creative Commons Attribution</a> license, so go ahead and use it – just don't forget to credit us!</p>]]></aboutText>
    <siteName><![CDATA[Umbraco Txt]]></siteName>
    <byline><![CDATA[A responsive starter kit for Umbraco]]></byline>
    <copyright><![CDATA[Umbraco]]></copyright>
    <umbTextPage id="1079" parentID="1078" level="2" creatorID="0" sortOrder="0" createDate="2014-09-26T15:33:12" updateDate="2014-09-29T12:01:28" nodeName="commencer" urlName="commencer" path="-1,1078,1079" isDoc="" nodeType="1059" creatorName="ExamineBootCamp" writerName="ExamineBootCamp" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[commencer]]></title>
      <featuredPage>1</featuredPage>
      <image><![CDATA[/media/SampleImages/1063/pic01.jpg]]></image>
      <bodyText><![CDATA[<p>Vous avez installé Umbraco et le "Txt" Starter Kit.</p>
<p>Modifier le texte sur la page d'accueil et de créer une structure de site en ajoutant de nouveaux texpages à votre site. Tout cela est fait dans la section Contenu.</p>
<p>Si vous trouvez les options d'édition fournis par le site Txt trop limité pour vous besoins, il suffit d'ajouter plusieurs propriétés à la page en allant à la section Paramètres, l'expansion de l'élément Types de documents et ajout de nouvelles propriétés sur l'onglet Propriétés génériques. Vous pouvez trouver plus d'informations sur les types et les propriétés des documents sur le site Web Umbraco.</p>
<p>Vous aurez probablement envie de personnaliser votre site en modifiant la conception actuelle. Cela se fait aussi dans la section Paramètres, en modifiant les styles CSS et des modèles HTML. Umbraco utilise des modèles maîtres, de sorte que le principal, balisage commun est placé dans le modèle Starterkit Maître, tandis que le Homeage et Textpage ont des modèles séparés pour leurs mises en page uniques. Vous pouvez trouver plus d'informations sur les modèles et css dans Umbraco sur le site Web de Umbraco.</p>
<p>Une fois que vous êtes satisfait de la conception de votre site, vous pouvez ajouter plus de fonctionnalités, comme des cartes, des galeries d'images ou de formes. Cela se fait en installant des modules Umbraco.</p>]]></bodyText>
    </umbTextPage>
    <umbTextPage id="1080" parentID="1078" level="2" creatorID="0" sortOrder="1" createDate="2014-09-26T15:33:12" updateDate="2014-09-29T12:02:10" nodeName="allez plus loin" urlName="allez-plus-loin" path="-1,1078,1080" isDoc="" nodeType="1059" creatorName="ExamineBootCamp" writerName="ExamineBootCamp" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[allez plus loin]]></title>
      <featuredPage>1</featuredPage>
      <image><![CDATA[/media/SampleImages/1060/pic02.jpg]]></image>
      <bodyText><![CDATA[<p>Le kit de démarrage Txt ne fait qu'effleurer la surface de ce qui est possible avec Umbraco. Ci-dessous, le Starter Kit Txt et ses modules se trouve une grande architecture qui vous permet de mettre en œuvre tout ce dont vous avez besoin.</p>
<p>Avec Umbraco vous avez finalement obtenu une plate-forme solide, ouverte et fiable pour les sites web aussi fondamentales que le site Txt, et Umbraco peut être étendu rapidement pour soutenir les sites multi-langues, les plates-formes de collaboration et intra / extranet, pour n'en nommer que quelques-uns.</p>
<p>Fonctionnalité avancée est créé avec des macros Umbraco, construits avec l'intégration .NET primé de Umbraco, y compris le soutien complet pour tout utilisateur de NET ou le contrôle personnalisé et ASP.NET MVC. Créer et intégrer vos propres macros NET en quelques minutes avec le point et cliquez sur la simplicité. Il suffit de copier vos commandes sur le site Umbraco, allez à la section de développeur et de créer une nouvelle macro, la sélection de votre commande dans la liste.</p>
<p>Vous pouvez également utiliser la syntaxe Razor de Microsoft pour ajouter rapidement des fonctionnalités dynamiques à votre site.</p>
<p>Nous avons également recueilli les meilleures macros de la communauté dans un référentiel qui est également accessible à partir de la section de développement, dans le domaine des packages. Vous pouvez trouver plus d'informations sur la création de macros, sur le site Umbraco.</p>
<p>Le ciel est la limite avec Umbraco, et vous avez l'avantage d'une communauté amicale, la formation et le soutien garanti. Découvrez comment obtenir de l'aide.</p>]]></bodyText>
    </umbTextPage>
    <umbTextPage id="1081" parentID="1078" level="2" creatorID="0" sortOrder="2" createDate="2014-09-26T15:33:12" updateDate="2014-09-29T12:02:45" nodeName="Installation de modules" urlName="installation-de-modules" path="-1,1078,1081" isDoc="" nodeType="1059" creatorName="ExamineBootCamp" writerName="ExamineBootCamp" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <featuredPage>1</featuredPage>
      <image><![CDATA[/media/SampleImages/1061/pic04.jpg]]></image>
      <bodyText><![CDATA[<p>Modules Umbraco encapsulent bits spécifiques de fonctionnalités avancées qui sont facilement ajouté à votre site Web.</p>
<p>Une fois installé, les modules Umbraco sont open source et facile à personnaliser si vous souhaitez modifier le comportement de vos besoins spécifiques.</p>
<p>Parce modules Umbraco sont fournies sous la licence MIT, vous êtes libre d'utiliser et les modifier comme vous le souhaitez, sans aucune condition.</p>
<p>Pour ajouter des modules Umbraco à votre site Web, accédez à la section Paramètres, développez l'élément Modèles, sélectionnez le modèle de Maître Starterkit, puis cliquez sur le bouton de la peau sur Personnaliser la barre d'outils.</p>
<p>Modules Umbraco sont disponibles pour différents types de navigation, un plan du site, les flux de médias sociaux, et un formulaire de contact. La liste des modules disponibles Umbraco se développe rapidement et est automatiquement mis à jour à partir d'une source centrale, toujours fraîche et actuelle.</p>
<p>Obtenez plus d'informations sur la façon de Umbraco.</p>]]></bodyText>
    </umbTextPage>
    <umbTextPage id="1082" parentID="1078" level="2" creatorID="0" sortOrder="3" createDate="2014-09-26T15:33:12" updateDate="2014-09-29T12:03:40" nodeName="Sur" urlName="sur" path="-1,1078,1082" isDoc="" nodeType="1059" creatorName="ExamineBootCamp" writerName="ExamineBootCamp" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <featuredPage>1</featuredPage>
      <image><![CDATA[/media/SampleImages/1001/pic03.jpg]]></image>
      <bodyText><![CDATA[<p>Le kit de démarrage Txt vous donne un petit site qui vous présente un ensemble de conventions bien définies pour la construction d'un site Umbraco.</p>
<p>Maintenant que vous savez ce que le Starter Kit Txt est, il est temps de commencer à utiliser Umbraco.</p>]]></bodyText>
    </umbTextPage>
    <umbNewsOverview id="1083" parentID="1078" level="2" creatorID="0" sortOrder="4" createDate="2014-09-26T15:33:12" updateDate="2014-09-26T15:33:14" nodeName="News" urlName="news" path="-1,1078,1083" isDoc="" nodeType="1058" creatorName="ExamineBootCamp" writerName="ExamineBootCamp" writerID="0" template="1053" nodeTypeAlias="umbNewsOverview">
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbNewsItem id="1084" parentID="1083" level="3" creatorID="0" sortOrder="0" createDate="2014-09-26T15:33:12" updateDate="2014-09-29T12:05:12" nodeName="Les 10 caractéristiques remarquables de l'objet" urlName="les-10-caractéristiques-remarquables-de-lobjet" path="-1,1078,1083,1084" isDoc="" nodeType="1057" creatorName="ExamineBootCamp" writerName="ExamineBootCamp" writerID="0" template="1052" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p><span>Les troupes ukrainiennes attendent encore de voir. Le retrait des belligérants de part et d'autre d'une zone tampon de 30 kilomètres est, certes, effectif dans certains endroits du Donbass. On est pourtant encore loin d'une stabilisation de la situation. L'armée ukrainienne compte neuf morts et 27 blessés dans ses rangs en une seule journée. Cependant, le porte-parole des forces armées ukrainiennes Andriy Lysenko parle de certains progrès alors qu'un nouvel échange de prisonniers a eu lieu, hier, dimanche 28 septembre.</span></p>]]></bodyText>
      </umbNewsItem>
      <umbNewsItem id="1085" parentID="1083" level="3" creatorID="0" sortOrder="1" createDate="2014-09-26T15:33:12" updateDate="2014-09-29T12:05:55" nodeName="C'est un merveilleux nouvelles article" urlName="cest-un-merveilleux-nouvelles-article" path="-1,1078,1083,1085" isDoc="" nodeType="1057" creatorName="ExamineBootCamp" writerName="ExamineBootCamp" writerID="0" template="1052" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>L’atmosphère s’est brusquement assombrie parmi les délégués conservateurs réunis à<a href="http://fr.wikipedia.org/wiki/Birmingham" target="_blank">Birmingham</a> pour leur grand-messe annuelle.</p>
<p>Ils ont dû, en effet, avaler coup sur coup deux grosses couleuvres : <a href="http://en.wikipedia.org/wiki/Mark_Reckless" target="_blank">le député conservateur Mark Reckless </a>a annoncé samedi à la tribune du congrès annuel du <a href="http://www.ukip.org/splash2?splash=1" target="_blank">Ukip</a> qu’il quittait son parti pour rejoindre la petite formation eurosceptique et anti-immigration de <a href="http://fr.wikipedia.org/wiki/Nigel_Farage" target="_blank">Nigel Farage</a>. Une décision-choc qui a créé une joie hystérique dans les rangs du Ukip et à l’inverse l’abattement du côté des conservateurs. Car ce député est le second à renier son parti après<a href="http://en.wikipedia.org/wiki/Douglas_Carswell" target="_blank">Douglas Carswell</a>, bien placé pour devenir le tout premier député Ukip au <a href="http://fr.wikipedia.org/wiki/Palais_de_Westminster" target="_blank">Parlement de Westminster </a>lors d’une législative partielle le 9 octobre prochain.</p>
<p><strong>Arrêter l’hémorragie vers Ukip</strong></p>
<p>Quelques heures plus tard, un membre du gouvernement se trouvait, lui, contraint de démissionner après avoir envoyé des photos de lui en tenue d’Adam à un journaliste se faisant passer pour une jeune militante conservatrice.</p>]]></bodyText>
      </umbNewsItem>
      <umbNewsItem id="1086" parentID="1083" level="3" creatorID="0" sortOrder="2" createDate="2014-09-26T15:33:12" updateDate="2014-09-29T12:06:35" nodeName="Vous avez vraiment besoin de lire ça!" urlName="vous-avez-vraiment-besoin-de-lire-ça" path="-1,1078,1083,1086" isDoc="" nodeType="1057" creatorName="ExamineBootCamp" writerName="ExamineBootCamp" writerID="0" template="1052" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>Finalement, le nouvel iPhone 6 est en train de se transformer en cauchemar pour Apple. Après avoir été ridiculisé sur le Net, parce qu'il se déforme dans une poche de pantalon lorsque l’on s’assoit dessus, voici maintenant une nouvelle polémique. La mise à jour de son système d’exploitation iOS 8.0.1, lancé mercredi, empêche notamment l'iPhone 6 de se connecter au réseau cellulaire. Cette mise à jour supprimait aussi certaines fonctions de reconnaissance tactile de l’appareil. Apple, qui assure que moins de 40 000 téléphones sont affectés, affirme avoir identifié la cause du problème et a mis en ligne cette nuit son correctif iOS 8.0.2.</p>
<p>Une faille qui a eu un impact immédiat sur les marchés. Le titre du groupe américain a reculé hier de 3,8% en Bourse, soit 18 milliard d’euros de capitalisation boursière partie en fumée. C’est l'une de ses plus fortes baisses depuis le début de cette année. Apple est la première capitalisation boursière mondiale avec 586 milliards de dollars. Reste à savoir si ces déboires vont affecter les ventes de l’appareil, qui a eu énormément de succès lors de son lancement il y a quelques jours : 10 million d'iPhone vendus en trois jours, a annoncé la firme.</p>]]></bodyText>
      </umbNewsItem>
      <umbNewsItem id="1087" parentID="1083" level="3" creatorID="0" sortOrder="3" createDate="2014-09-26T15:33:12" updateDate="2014-09-29T12:08:16" nodeName="Txt Starter Kit Pour Umbraco Sortie" urlName="txt-starter-kit-pour-umbraco-sortie" path="-1,1078,1083,1087" isDoc="" nodeType="1057" creatorName="ExamineBootCamp" writerName="ExamineBootCamp" writerID="0" template="1052" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title><![CDATA[Txt Starter Kit Pour Umbraco Sortie]]></title>
        <publishDate>2021-09-20T00:00:00</publishDate>
        <image><![CDATA[/media/SampleImages/1077/pic05.jpg]]></image>
        <subheader><![CDATA[In all it's MVC Views goodness]]></subheader>
        <bodyText><![CDATA[<p>Avec une 6e victoire en huit journées, cette fois aux dépens de Saint-Etienne (2-1), un rival pour le podium, Marseille a conforté sa place de leader de Ligue 1 dimanche et peut nourrir de solides ambitions.</p>
<p>Grâce à cette victoire, l'OM a pris deux points d'avance sur son dauphin Bordeaux, quatre sur Lille et cinq sur le Paris SG, qui fait du surplace. Impressionnant.</p>
<p>L'OM a aussi égalé la série de six victoires d'affilée, établie lors des six premières journées de la saison 2012/2013, que l'équipe d'Elie Baup avait terminée à la 2e place.</p>
<p>Mais surtout, les Olympiens, qui tournent à la moyenne de 2,6 buts par match, ont montré qu'il allait falloir compter sur eux cette saison. Car si l'OM avait battu jusque là des adversaires de seconde moitié de tableau (Guingamp, Nice, Evian-Thonon, Rennes, Reims), c'est une équipe d'un autre calibre qui s'est inclinée dimanche.</p>
<p> </p>]]></bodyText>
      </umbNewsItem>
    </umbNewsOverview>
    <umbTextPage id="1090" parentID="1078" level="2" creatorID="0" sortOrder="5" createDate="2014-09-29T12:11:03" updateDate="2014-09-29T12:13:05" nodeName="recherche" urlName="recherche" path="-1,1078,1090" isDoc="" nodeType="1059" creatorName="ExamineBootCamp" writerName="ExamineBootCamp" writerID="0" template="1089" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <title><![CDATA[recherche]]></title>
      <featuredPage>0</featuredPage>
    </umbTextPage>
  </umbHomePage>
</root>